@charset "utf-8";

#aboutme{
    width: 1100px;
    margin: 0 auto;
} 

#aboutme>.visual{
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 1100px;
    height: 560px;
    margin: 0 auto;
    background-image: url(../images/aboutme/aboutme_visual.png);
}


#aboutme>.visual>div{
    overflow: hidden;
    position: relative;
    width: calc(1100px / 3 - 2px);
    height: 100%;
    color: #fff;
}

#aboutme>.visual>div:before{
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(17,17,17,0.2);
    content: '';
}

#aboutme>.visual>div:after{
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(17,17,17,0.4);
    opacity: 0;
    transition: all 0.3s;
    content: '';
}

#aboutme>.visual>div:hover:after{
    opacity: 1;
}

#aboutme>.visual>div>h3,
#aboutme>.visual>div>p{
    position: absolute;
    left: 50%;
    text-align: center;
    z-index: 100;
}

#aboutme>.visual>div>h3{
    top: 380px;
    width: 200px;
    margin-left: -100px;
    font-size: 20px;
}

#aboutme>.visual>div>p{
    top: 440px;
    width: 300px;
    margin-left: -150px;
    font-size: 13px;
    line-height: 1.8;
}

/* intro */
#aboutme>.intro{
    width: 1100px;
}
#aboutme>.intro>.intro-container{
    position: relative;
    height: 320px;
    background-image: url(../images/common/section_intro_Bg.png);
}
#aboutme>.intro>.intro-container>h3{
    display: block;
    width: 1100px;
    height: 40px;
    padding: 40px 0;
    color: #666;
    line-height: 40px;
    font-size: 30px;
    text-align: center;
}
#aboutme>.intro>.intro-container>p{
    width: 600px;
    margin: 0 auto 30px;
    line-height: 1.5;
    font-weight: 300;
    font-size: 13px;
}
#aboutme>.intro>.skill{
    width: 100%;
    margin-top: 40px;
}
#aboutme>.intro>.skill>p{
    margin-bottom: 15px;
    color: #666;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
}
#aboutme>.intro>.skill>.skill-progress{
    float: left;
    position: relative;
    width: 100px;
    height: 100px;
    margin: 30px 144px 30px 0;
    border-radius: 50%;
    border: 2px solid #2f3439;
    background-color: tomato;
}
#aboutme>.intro>.skill>.skill-progress:nth-of-type(5),
#aboutme>.intro>.skill>.skill-progress:nth-of-type(10){margin-right: 0;}
#aboutme>.intro>.skill>.skill-progress>.overlay{
    position: absolute;
    width: 60px;
    height: 60px;
    margin-left: 20px;
    margin-top: 20px;
    font-weight: 700;
    line-height: 60px;
    font-size: 12px;
    text-align: center;
    background-color: #fffde8;
    border-radius: 50%;
}

/* progress circle */
.progress-80{
    background-image: linear-gradient(18deg, #ff6347 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #ff6347 50%, #2f3439 50%, #2f3439);
}
.progress-85 {
    background-image: linear-gradient(36deg, #ff6347 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #ff6347 50%, #2f3439 50%, #2f3439);
}
  
.progress-90 {
    background-image: linear-gradient(54deg, #ff6347 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #ff6347 50%, #2f3439 50%, #2f3439);
}
  
.progress-95 {
    background-image: linear-gradient(72deg, #ff6347 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #ff6347 50%, #2f3439 50%, #2f3439);
}
  
.progress-100 {
    background-image: linear-gradient(90deg, #ff6347 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #ff6347 50%, #2f3439 50%, #2f3439);
}
  

/* webdesigner */
#aboutme>.webdesigner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#aboutme>.webdesigner>img{
    display: block;
}
#aboutme>.webdesigner>.webdesigner-container{
    position: relative;
    width: 600px;
}
#aboutme>.webdesigner>.webdesigner-container>p{
    line-height: 2;
    font-weight: 300;
    font-size: 13px;
    margin: 30px 0;
}
#aboutme>.webdesigner>.webdesigner-container>p:nth-child(1){margin-top: 0;}
#aboutme>.webdesigner>.webdesigner-container>a{
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 260px;
    height: 40px;
    margin-left: -130px;
    color: #fff;
    line-height: 40px;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    background-color: #222;
    cursor: pointer;
}
