@charset "utf-8";

#gnb{
    display: flex;
    position: absolute;
    left: 135px;
    top: 86px;
    z-index: 100;
}

#gnb>li:nth-child(1){
    width: 620px;
}


#gnb>li>a{
    display: block;
    height: 51px;
    padding: 0 30px;
    color: #777;
    line-height: 51px;
    text-align: center;
}

#gnb>li:nth-child(1)>a{margin-left: 495px;}

#gnb>li.on>a{
    color: #222;
    font-weight: 500;
}

/* 서브메뉴 */
#gnb>li:nth-child(4)>.lnb{padding-left: 860px;}


#gnb .lnb{
    display: none;
    position: absolute;
    left: 0;
    top: 51px;
    width: 100%;
}

#gnb .lnb>ul{
    display: flex;
}

#gnb .lnb>ul>li{margin-right: 25px;}
#gnb .lnb>ul>li:last-child{margin-right: 0;}

#gnb .lnb>ul>li>a{
    display: block;
    height: 43px;
    color: #a0a3a5;
    font-weight: 600;
    line-height: 43px;
}

#gnb .lnb>ul>li.on>a,
#gnb .lnb>ul>li:hover>a{color: #fff;}