@charset "utf-8";

#main>.mainitem{
    width: 1100px;
} 

#main>.mainitem>p{
    margin-top: 40px;
    color: #666;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 700;
    text-align: center;
    letter-spacing: 40px;
}
#main>.mainitem>.mainitem-container{
    display: flex;
    margin-top: 40px;
}
#main>.mainitem>.mainitem-container>.me{
    overflow: hidden;
    width: 356px;
    height: 596px;
    margin-right: 16px;
}
#main>.mainitem>.mainitem-container>.me>p:nth-child(1){
    margin-bottom: 12px;
    color: #666;
    font-size: 16px;
}
#main>.mainitem>.mainitem-container>.me>p:nth-child(2){
    margin-bottom: 34px;
    color: #aaa;
    font-size: 12px;
}
#main>.mainitem>.mainitem-container>.me>a>img{
    width: 356px;
    height: 215px;
    margin-bottom: 16px;
}
#main>.mainitem>.mainitem-container>.me>.txt{
    width: 356px;
    height: 25px;
    margin-bottom: 20px;
    line-height: 25px;
    font-size: 13px;
}
#main>.mainitem>.mainitem-container>.me>.txt>span{
    font-size: 14px;
    font-weight: 700;
}
#main>.mainitem>.mainitem-container>.mainitem-list{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    width: 728px;
    height: 596px;
}
#main>.mainitem>.mainitem-container>.mainitem-list>li{
    overflow: hidden;
    width: 356px;
    height: 290px;
    text-indent: -9999px;
}
#main>.mainitem>.mainitem-container>.mainitem-list>li:nth-child(3){height: 596px;}
#main>.mainitem>.mainitem-container>.mainitem-list>li>img{
    display: block;
}