@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url(gnb.css);
@import url(visual.css);
@import url(mainitem.css);
@import url(workstyle.css);
@import url(tellme.css);
@import url(aboutme.css);
@import url(graphic.css);
@import url(webpofol.css);
@import url(uxd-myux.css);
@import url(uxd-renewal.css);
@import url(uxd-concept.css);
@import url(uxd-idea.css);
@import url(uxd-prototype.css);
@import url(uxd-ia.css);
@import url(html.css);

body{
    font-family: 'Noto Sans KR', sans-serif;
}

/* 공통헤더 */
header{
    overflow: hidden;
    position: relative;
    width: 1100px;
    margin: 0 auto;
    z-index: 1000;
}

header>.container{}

header>.container>nav{
    height: 180px;
}

header>.container>nav>.logo{
    position: absolute;
    left: 10px;
    bottom: 50px;
    width: 160px;
    z-index: 300;
}

header>.container>nav>.logo>a{
    display: block;
    height: 37px;
    color:#222;
    font-weight: 700;
    letter-spacing: 1px;
}

header>.container>nav>.logo>a>span{
    margin-left: 2px;
}

header>.container>nav>.logo>a>small{
    display: block;
    color: #c33;
    font-size: 5px;
    margin-top: 3px;
    letter-spacing: 0;
    font-weight: 500;
    text-align: justify;
}

header>.container>nav>.spot{
    display: flex;
    position: absolute;
    right: 25px;
    top: 38px;
    z-index: 200;
}

header>.container>nav>.spot>li{margin-left: 20px;}
header>.container>nav>.spot>li:first-child{margin-left: 0;}

header>.container>nav>.spot>li>a{
    font-size: 12px;
}

/* 서브메뉴의 배경 */
header>.container>nav>.bg_lnb{
    display: none;
    position: absolute;
    left: 0;
    top: 137px;
    width: 100%;
    height: 43px;
    background-color: #262729;
}

/* 활성화 표식 */
header>.container>nav>.bg_lnb>.bar{
    display: block;
    position: absolute;
    top: -3px;
    left: 0;
    /* js에서 동적으로 계산
        left: ?;
        width: ?;임시 
    */
    height: 3px;
    background-color: #262729;
}


#cont{margin-top: -43px;}/* 메인메뉴 아래 서브메뉴 때문에 생기는 공백을 보고싶지 않아서*/

/* 공통 아티클 */
article{margin: 40px auto 0;}

/* 공통푸터 */

footer{
    min-width: 1100px;
}

footer>.info{
    margin: 0;
    background-color: #222;
}

footer>.info>.container{
    position: relative;/*로고에 대한 기준점*/
    width: 1100px;
    margin: 0 auto;
    padding: 45px 0 20px;
}

footer>.info>.container>h2,
footer>.info>.container>.contact,
footer>.info>.container>.iam_1,
footer>.info>.container>.iam_2{
    margin-bottom: 15px;
    padding-left: 30px;
    color: #ababab;
    font-size: 13px;
}

footer>.info>.container>h2:after{
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    width: 80px;
    height: 80px;
    margin-top: -40px;
    background-image: url(../images/common/footer_logo.png);
    background-size: cover;
    content: '';
}

footer>.info>.container>.contact>a{
    color: #ababab;
}

footer>.info>.container>.contact>.bar{
    margin: 0 10px;
}

aside{
    position: fixed;
    left: 50%;
    bottom: 0px;
    width: 35px;
    height: 60px;
    margin-left: 560px;
    color: #fff;
    line-height: 60px;
    text-align: center;
    background-color: #c33;
    cursor: pointer;
}