@charset "utf-8";

#webpofol{
    width: 1100px;
    margin: 0 auto;
} 

/* visual */
#webpofol .visual{
    margin: 0;
}
#webpofol .visual>.visual_container{
    overflow: hidden;
    position: relative; /* 인디케이터 기준점 */
    width: 1100px;
    height: 600px;
}

/* visual - slides */
#webpofol .visual>.visual_container>.visual_slides{
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    width: 6600px;
}
#webpofol .visual>.visual_container>.visual_slides>li{
    position: relative;
    width: 1100px;
    height: 600px;
}
#webpofol .visual>.visual_container>.visual_slides>li:nth-of-type(1){
    background-image: url(../images/webpofol/visual_bg1.png);
}
#webpofol .visual>.visual_container>.visual_slides>li:nth-of-type(2){
    background-image: url(../images/webpofol/visual_bg2.png);
}
#webpofol .visual>.visual_container>.visual_slides>li:nth-of-type(3){
    background-image: url(../images/webpofol/visual_bg3.png);
}
#webpofol .visual>.visual_container>.visual_slides>li:nth-of-type(4){
    background-image: url(../images/webpofol/visual_bg4.png);
}
#webpofol .visual>.visual_container>.visual_slides>li:nth-of-type(5){
    background-image: url(../images/webpofol/visual_bg5.png);
}
#webpofol .visual>.visual_container>.visual_slides>li:nth-of-type(6){
    background-image: url(../images/webpofol/visual_bg6.png);
}
#webpofol .visual>.visual_container>.visual_slides>li>a{
    display: block;
    overflow: hidden;
    position: absolute;
    top: 91px;
    left: 113px;
    width: 505px;
    height: 280px;
    text-indent: -9999px;
    border: 1px solid #000;
}
#webpofol .visual>.visual_container>.visual_slides>li>a>img{
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

/* visual - slides txt */
#webpofol .visual>.visual_container>.visual_slides>li>.visual_slides_txt{
    position: absolute;
    right: 80px;
    top: 115px;
    width: 300px;
    height: 300px;
}
#webpofol .visual>.visual_container>.visual_slides>li>.visual_slides_txt>.txt_num{
    font-size: 14px;
}
#webpofol .visual>.visual_container>.visual_slides>li>.visual_slides_txt>h4{
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 45px;
}
#webpofol .visual>.visual_container>.visual_slides>li:nth-of-type(3)>.visual_slides_txt>h4{
    font-size: 34px;
}
#webpofol .visual>.visual_container>.visual_slides>li>.visual_slides_txt>.site_type{
    font-size: 16px;
}
#webpofol .visual>.visual_container>.visual_slides>li>.visual_slides_txt>ol{
    margin: 30px 0;
}
#webpofol .visual>.visual_container>.visual_slides>li>.visual_slides_txt>ol>li{
    margin-bottom: 7px;
    font-size: 14px;
}
#webpofol .visual>.visual_container>.visual_slides>li>.visual_slides_txt>.view_btn{
    display: flex;
    justify-content: space-between;
}
#webpofol .visual>.visual_container>.visual_slides>li>.visual_slides_txt>.view_btn>a{
    display: block;
    width: 140px;
    height: 30px;
    color: #444;
    line-height: 30px;
    font-weight: 700;
    text-align: center;
    border: 2px solid #444;
    transition: all 0.3s;
}
#webpofol .visual>.visual_container>.visual_slides>li>.visual_slides_txt>.view_btn>a:hover{
    color: #fff;
    background-color: #444;
}

/* visual - indicator */
#webpofol .visual>.visual_container>.visual_indicator{
    display: flex;
    position: absolute;
    justify-content: space-evenly;
    width: 1100px;
    left: 0;
    bottom: 30px;
}
#webpofol .visual>.visual_container>.visual_indicator>li{
    display: block;
    position: relative; /* after 기준점 */
    width: 150px;
    margin-right: 10px;
}
#webpofol .visual>.visual_container>.visual_indicator>li:last-child{
    margin-right: 0;
}
#webpofol .visual>.visual_container>.visual_indicator>li:after{
    display: block;
    border-bottom: 2px solid #dedede;
    content: '';
}
#webpofol .visual>.visual_container>.visual_indicator>li>a{
    display: block;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #fff;
}
#webpofol .visual>.visual_container>.visual_indicator>li.on:after,
#webpofol .visual>.visual_container>.visual_indicator>li:hover:after{
    border-bottom: 2px solid #787878;
}
#webpofol .visual>.visual_container>.visual_indicator>li.on>a,
#webpofol .visual>.visual_container>.visual_indicator>li:hover>a{
    color: #333;
    font-weight: 500;
}
#webpofol .visual>.visual_container>p{
    display: block;
    position: absolute;
    bottom: 180px;
    left: 480px;
}

/* logic */
#webpofol .logic>.logic-container{
    position: relative;
    height: 320px;
    background-image: url(../images/common/section_intro_Bg.png);
}
#webpofol .logic>.logic-container>h3{
    display: block;
    width: 1100px;
    height: 40px;
    padding: 40px 0;
    color: #666;
    line-height: 40px;
    font-size: 30px;
    text-align: center;
}
#webpofol .logic>.logic-container>p{
    width: 600px;
    margin: 0 auto 30px;
    line-height: 1.5;
    font-weight: 300;
    font-size: 13px;
}

/* apply */
#webpofol .apply{
    border: 1px solid #e4e4e4;
    border-radius: 5px;
    box-sizing: border-box;
}
#webpofol .apply>.help{
    position: relative;
    height: 120px;
    margin-bottom: 10px;
    border-bottom: 1px solid #e4e4e4;
}

#webpofol .apply>.help>h3{
    position: absolute;
    left: 75px;
    top: 45px;
    color: #333;
    font-size: 3em;
}

#webpofol .apply>.help>h3:after{
    display: block;
    position: absolute;
    right: -50px;
    top: -5px;
    width: 1px;
    height: 50px;
    background-color: #ccc;
    content: '';
}

#webpofol .apply>.help>p{
    position: absolute;
    left: 610px;
    top: 40px;
    font-size: 1.2em;
    line-height: 1.7em;
}

/* 질문리스트 */

#webpofol .apply>dl{} 

#webpofol .apply>dl>dt.on{
    background-color: #fce811;
}

#webpofol .apply>dl>dt>a{
    position: relative;
    display: block;
    width: 950px;
    height: 70px;
    margin-left: 75px;
    font-size: 14px;
    line-height: 70px;
    border-bottom: 1px solid #e4e4e4;
} 
#webpofol .apply>dl>dt>a>span.arr{
    display: block;
    position: absolute;
    right: 0;
    top: 20px;
    width: 14px;
    height: 14px;
    text-indent: -9999px;
    background-image: url(../images/webpofol/webpofol_apply_sp_arr.gif);
    background-position: 0 -278px;
} 

#webpofol .apply>dl>dt.on>a>span.arr{
    background-position: 0 -318px;
}

/* 질문에 대한 답변영역 */

#webpofol .apply>dl>dd{
    display: none;
    background-color: #f8f8f8;
} 
#webpofol .apply>dl>dd>.answer{
    margin: 0 90px;
    padding: 40px 0;
} 

#webpofol .apply>p{
    height: 100px;
    margin-top: 50px;
    color: #505050;
    font-size: 14px;
    line-height: 100px;
    text-indent: 38px;
    background-color: #f8f8f8;
    background-image: url(../images/webpofol/webpofol_apply_thank.png);
    background-position: 95% 60%;
    background-repeat: no-repeat;
}